@model int

<!DOCTYPE html>


<h1>Login</h1>
<div>
    <form method="post">
        <div>
            <label for="UserName">Username: </label>
            <input type="text" name="UserName" value="" />
        </div>
        <div>
            <label for="Password">Password: </label>
            <input type="text" name="Password" value="" />
        </div>
        <input type="submit" value="einloggen"/>
    </form>
</div>