@model List<gibz.m151.data.Models.Person>

<!DOCTYPE html>


<h1>Hello World</h1>
<div>


    <p>Have a look, you can @Html.ActionLink("search", "GetPersonById", "Person") for a Person.</p>
    <p>This is a list of all available people:</p>
    <ul>
        @foreach (gibz.m151.data.Models.Person person in Model){

        <li>@person.Name</li>

    }
    </ul>
</div>