@model int

<!DOCTYPE html>


<h1>Welcom to the Personadministration!</h1>
<div>

    <p>On this Website you can add, delete and edit each person saved in the database.</p>
    <p>Have a look, you can @Html.ActionLink("search", "GetPersonById", "Person") for a Person.</p>
    <p>Currently there are this many people in our database:</p>
    @Model
</div>