@model gibz.m151.data.Models.Person



<!DOCTYPE html>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<h1>Find a Person</h1>
<p>Enter the Id of the person you are looking for.</p>
    <div>Id: @Html.TextBoxFor(x => x.Id)</div>
   
    <div> <input type="submit" value="senden" /> </div>

}


